# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Nativo (generado con Continuous Native Generation)
/ios
/android

# Metro
.metro-health-check*

# Varios
npm-debug.*
*.log
.DS_Store
*.tsbuildinfo

# Variables de entorno locales
.env*.local
